<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>376408084302-30036rf205p86smuac1s6vlhujd5vfo9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.376408084302-30036rf205p86smuac1s6vlhujd5vfo9</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>376408084302-f8l6qlqp1jj1n87s2f2v6vkriesob5fu.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAu1xRj92baC1e6doE7Dh_7Drh0Wn7KO90</string>
	<key>GCM_SENDER_ID</key>
	<string>376408084302</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.company.hango</string>
	<key>PROJECT_ID</key>
	<string>hango-bfc6b</string>
	<key>STORAGE_BUCKET</key>
	<string>hango-bfc6b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:376408084302:ios:48c0c830f6045f54bf581f</string>
</dict>
</plist>